<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
  <table>
    <thead>
    <tr>
      <th>...</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <p>Dear <b><i><span th:text="${name}"></span></i></b></p>
        <p>You have successfully created account to my application! Thanks.</p>
        <p><b><i>Detail Information:</i></b></p>
        <p><b><i>Email: </i></b> <span th:text="${email}"></span></p>
        <p><b><i>Name: </i></b> <span th:text="${name}"></span></p>
        <p><b><i>Birthdate: </i></b> <span th:text="${birthdate}"></span></p>
        <p><b><i>Address: </i></b> <span th:text="${address}"></span></p>
        <p><b><i>Created Date: </i></b> <span th:text="${date}"></span></p>
        <img th:src="@{/images/image-1.png}"/>

        <p>Best Regards,</p>
        <p><b>[THIS IS AN AUTOMATED MESSAGE - PLEASE DO NOT REPLY DIRECTLY TO THIS EMAIL</b></p>
      </td>
    </tr>
    </tbody>
  </table>
</body>
</html>